{% extends "auctions/layout.html" %}
{% load filter %}
{% load static %}

{% block title %}My Listings{% endblock %}

{% block head %}
    <link href="{% static 'auctions/listings.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h2>My Listings</h2>
    
    {% for listVar in listings %}
        {% comment %} Only shows listings that belong to current user. {% endcomment %}
        {% if listVar.user|toString == user.username %}

        <a href="{% url 'listingPage' title=listVar.title|titleToSlug id=listVar.id %}" class="no-link-style">
            <div class="topBorder">

                {% include "auctions/listingsDetails.html" with listing=listVar %}
                
            </div>
        </a>

        {% endif %}
    {% endfor %}

{% endblock %}
