{% extends "auctions/layout.html" %}
{% load filter %}
{% load static %}

{% block title %}Watchlist{% endblock %}

{% block head %}
    <link href="{% static 'auctions/listings.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

    {% if user.is_authenticated %}
        <h2>Watchlist</h2>

        {% if not user.userWatchlist.all %}
            <h5>No Items on Watchlist!</h5>
        {% endif %}

        {% comment %} Filters for the current user listings in their watchlist. {% endcomment %}
        {% for listVar in user.userWatchlist.all %}
            <div class="topBorder"> 

                <form action="{% url 'watchlist' %}" method="post">
                    {% csrf_token %}
                        <input type="hidden" name="id" value={{ listVar.id }}>
                        <button class="buttonWatchlist" type="submit" name="removeFromWatchlist">Remove From Watchlist</button>
                </form>

                <a href="{% url 'listingPage' title=listVar.title|titleToSlug id=listVar.id %}" class="no-link-style">
                    {% include "auctions/listingsDetails.html" with listing=listVar %}
                </a>
            </div>
            
        {% endfor %}
    {% endif %}

{% endblock %}
